body{
	font-family: "Times New Roman", Times, Arial, Helvetica;
}

h1{
	text-transform: uppercase;
	text-align: center;
}

h2{
	text-transform: uppercase;
	color: #000080;
}
header{
	background-color: #B2B2B2;
	color: #FFFFFF;
}

.left{
	display: none;
}

.right{
	background-color: #7F7F7F;
}

a{
	color: #000000;
	background-color: #9F9F9F;
}

nav a{
	background-color: #C5C5C5;
}