
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    display: inline;
    float: right;
    width: 20vw;
    border: solid 6px blue;
    margin: 1vw;
    padding: 1vw;
    margin-top: 30vw;
    margin-left: -24vw;
}
#two {
    display: inline;
    float: right;
    width: 20vw;
    border: solid 6px green;
    margin: 1vw;
    padding: 1vw;
    margin-top: -0.2em;
}
#three {
    display: inline;
    float: left;
    width: 20vw;
    border: solid 6px orange;
    margin: 1vw;
    padding: 1vw;
    margin-top: -0.2em;
}
#four {
    display: inline;
    float: left;
    width: 20vw;
    border: solid 6px yellow;
    margin: 1vw;
    padding: 1vw;
    margin-top: 30vw;
    margin-left: -24vw;
}
#link {
	margin: auto;
	text-align: center;
	margin-top: 1em;
}

a {
	text-decoration: none;
	color: white;
	background-color: blue;
	padding: 2px;
}